<%# locals: (business: "webcrunch") %>

<div class="flex items-center space-x-4 py-3 mb-6">
  <%= image_tag "andy.jpg", class: "rounded-full object-center object-cover size-10 flex-shrink-0" %>

  <div class="flex-1">
    <p class="font-semibold text-zinc-800">Andy Leverenz</p>
    <p class="text-zinc-600 text-sm">Creator of <%= business %></p>
  </div>
</div>
